.mainjumbo {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    padding-top: 5rem;
}
.minijumbo {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-blend-mode: overlay;
    background-color: #e9ecef;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    font-size: 2rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.minijumbo .breadcrumb {
	background: none;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom:0;
}
.uiuclogo {
	height: 4.5rem;
}
@media (max-width: 575px){
	.uiuclogo {
		height: 3.5rem;
	}
}

/* An even bigger container for 4k screens */
@media (min-width: 1900px) {
  .container {
    max-width: 1890px;
  }
  .d-xxl-none {
    display: none !important;
  }
  .d-xxl-inline {
    display: inline !important;
  }
  .d-xxl-inline-block {
    display: inline-block !important;
  }
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-table {
    display: table !important;
  }
  .d-xxl-table-row {
    display: table-row !important;
  }
  .d-xxl-table-cell {
    display: table-cell !important;
  }
  .d-xxl-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-xxl-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
  }
  
  .col-xxl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-xxl-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }
  .col-xxl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xxl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xxl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xxl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xxl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xxl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xxl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xxl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xxl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xxl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xxl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xxl-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xxl-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xxl-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
  }
  .order-xxl-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
  .order-xxl-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xxl-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xxl-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xxl-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xxl-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xxl-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xxl-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xxl-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xxl-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xxl-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xxl-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xxl-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.666667%;
  }
}

.sortable-th {
	cursor: pointer;
}

.btn-prev {
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-radius: 0;
}
.btn-next {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-radius: 0;
}

/* Fix for user, group table headers with buttons */
h3.panel-title {
	line-height: 1.5;
}
div.panel td, div.panel th {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

/* Override styles for xs phones */
@media (max-width: 575px) {
	.igb-jumbo {
		font-size: 3.5rem;
	}
}
/* Override styles for sm phones */
@media (min-width: 576px) {
	
}

/* Button groups should go vertical for phones */
@media (max-width: 767px) {
	.btn-group {
	  -ms-flex-direction: column;
	      flex-direction: column;
	  -ms-flex-align: start;
	      align-items: flex-start;
	  -ms-flex-pack: center;
	      justify-content: center;
	}
	
	.btn-group .btn,
	.btn-group .btn-group {
	  width: 100%;
	}
	
	.btn-group > .btn + .btn,
	.btn-group > .btn + .btn-group,
	.btn-group > .btn-group + .btn,
	.btn-group > .btn-group + .btn-group {
	  margin-top: -1px;
	  margin-left: 0;
	}
	
	.btn-group > .btn:not(:first-child):not(:last-child) {
	  border-radius: 0;
	}
	
	.btn-group > .btn:first-child:not(:last-child) {
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	
	.btn-group > .btn:last-child:not(:first-child) {
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
	
	.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
	  border-radius: 0;
	}
	
	.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
	.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	
	.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

/* Select2 Custom Styles */
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
}
.select2-container .select2-selection--single {
	height: 34px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border: 1px solid #ccc;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 32px;
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: 400px;
}

.copy-text {
	width: 100%;
}
/* Custom table styles */
.table-igb-bordered {
	border-top: 1px solid #ddd;
}
.card>.table-igb-bordered:first-child {
	border-top: 0;
}
.table-igb-bordered td, .table-igb-bordered th {
	border: 1px solid #ddd;
	border-top-width: 0px;
	border-bottom-width: 0px;
}
.table-igb-bordered td:first-child, .table-igb-bordered th:first-child {
	border-left: 0px;
	border-right: 0px;
}
.table-igb-bordered td:last-child, .table-igb-bordered th:last-child {
	border-right: 0px;
}
.table-igb-bordered td.d-flex {
	border-right: 0px;
}
/* Searchbar styles */
#searchbar-results {
	position: absolute;
/* 	background-color: white; */
	display: none;
	overflow: auto;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
/* 	border-radius: 3px; */
/* 	padding: 4px 0px; */
/* 	max-height: 300px; */
	z-index:1000;
	left: unset;
}
@media (max-width: 767px){
	#searchbar {
		width: 100%;
		display: block;
	}
	#searchbar-results {
		position: static;
		float: none;
		max-height: none;
	}
}

a.searchbar-result.selected {
	color:#16181b;
	text-decoration: none;
	background-color: #f8f9fa;
}
