.negative {
	color:#d9534f;
}
.smallwarning {
    color: #f0ac4c;
}
.smalldanger {
	color: #d43f3a;
}
.smallinfo {
	color: #46b8da;
}
.smallsuccess {
	color: #5cb85c;
}

.nav hr {
	margin: 0;
}

.sortable-th {
	cursor: pointer;
}

.btn-prev {
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-radius: 0;
}
.btn-next {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-radius: 0;
}

/* Fix for user, group table headers with buttons */
h3.panel-title {
	line-height: 1.5;
}
div.panel td, div.panel th {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

/* Override styles for xs phones */
@media (max-width: 575px) {
	.igb-jumbo {
		font-size: 3.5rem;
	}
}
/* Override styles for sm phones */
@media (min-width: 576px) {
	
}

/* Button groups should go vertical for phones */
@media (max-width: 767px) {
	.btn-group {
	  -ms-flex-direction: column;
	      flex-direction: column;
	  -ms-flex-align: start;
	      align-items: flex-start;
	  -ms-flex-pack: center;
	      justify-content: center;
	}
	
	.btn-group .btn,
	.btn-group .btn-group {
	  width: 100%;
	}
	
	.btn-group > .btn + .btn,
	.btn-group > .btn + .btn-group,
	.btn-group > .btn-group + .btn,
	.btn-group > .btn-group + .btn-group {
	  margin-top: -1px;
	  margin-left: 0;
	}
	
	.btn-group > .btn:not(:first-child):not(:last-child) {
	  border-radius: 0;
	}
	
	.btn-group > .btn:first-child:not(:last-child) {
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	
	.btn-group > .btn:last-child:not(:first-child) {
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
	
	.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
	  border-radius: 0;
	}
	
	.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child,
	.btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
	  border-bottom-right-radius: 0;
	  border-bottom-left-radius: 0;
	}
	
	.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}

/* Select2 Custom Styles */
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
}
.select2-container .select2-selection--single {
	height: 34px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border: 1px solid #ccc;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 32px;
}
.select2-container--default .select2-results > .select2-results__options {
	max-height: 400px;
}

.copy-text {
	width: 100%;
}
/* Custom table styles */
.table-igb-bordered {
	border-top: 1px solid #ddd;
}
.card>.table-igb-bordered:first-child {
	border-top: 0;
}
.table-igb-bordered td, .table-igb-bordered th {
	border: 1px solid #ddd;
	border-top-width: 0px;
	border-bottom-width: 0px;
}
.table-igb-bordered td:first-child, .table-igb-bordered th:first-child {
	border-left: 0px;
	border-right: 0px;
}
.table-igb-bordered td:last-child, .table-igb-bordered th:last-child {
	border-right: 0px;
}
/* Searchbar styles */
#searchbar-results {
	position: absolute;
	background-color: white;
	display: none;
	overflow: auto;
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
	border-radius: 3px;
	padding: 4px 0px;
	max-height: 300px;
	z-index:1000;
}
@media (max-width: 767px){
	#searchbar {
		width: 100%;
		display: block;
	}
	#searchbar-results {
		position: static;
		float: none;
		max-height: none;
	}
}
.searchbar-heading {
    padding: 4px 4px 1px 4px;
}
.searchbar-heading:first-of-type {
	padding: 1px 4px;
}
a.searchbar-result {
	padding: 1px 4px 1px 8px;
	cursor: pointer;
	display: block;
}
a.searchbar-result:hover {
	background-color: #eee;
	text-decoration: none;
}