{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Add Classroom Users{% endblock %}

{% block jumbotron %}Add Classroom Users{% endblock %}

{% block content %}
	<div class="content p-3">
		<p>The following classroom users have been added. This list has also been emailed to you for your records.</p>
		<pre>
			{%- for user in added_users -%}
				{{- (user.username~"\t"~user.password~"\n")|raw -}}
			{%- endfor -%}
		</pre>
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}
{% endblock %}