{% extends 'view_advanced.html.twig' %}

{% block title %}{{ parent() }} - User LDAP Entry: {{ user.username }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="list_users.php">Users</a></li>
<li class="breadcrumb-item"><a href="user.php?uid={{ user.username }}">{{ user.username }}</a></li>
<li class="breadcrumb-item active">LDAP Entry</li>
{% endblock %}