<html lang="en">
	<head></head>
	<body>
		<p>The following users will be emailed password expiration notices today:</p>
		<table>
			{% for user in users %}
				<tr>
					<td>{{ user.username }}</td>
					<td>{{ user.passwordExpiration|date('F j, Y') }}</td>
				</tr>
			{% endfor %}
		</table>

		<p>--IGBLAM</p>
	</body>
</html>