<html lang="en">
	<head></head>
	<body>
		{{ name }},<br><br>

		You are receiving this email because your IGB account password will expire in {{ duration }}
		({{ expiration|date("n/j/Y") }}). This will not affect your University of Illinois account password.<br><br>

		To change your password, go to https://illinoisauth.igb.illinois.edu/password/ and log in with either your
		current IGB password or your University of Illinois AD password. <br><br>

		If you do not change your password before {{ expiration|date("n/j/Y") }}, you will not be able to log into the following IGB
		services:
		<ul>
			<li>IGB File-Server (including theme spaces)</li>
			<li>IGB Wireless</li>
			<li>IGB Training</li>
			<li>IGB Email</li>
			<li>Biocluster</li>
			<li>Crashplan Backup</li>
			<li>Core Instruments</li>
			<li>Private Servers managed by CNRG</li>
			<li>IGB Web Content</li>
		</ul>

		If you have any questions, please contact us at help@igb.illinois.edu. <br/><br/>

		Computer and Network Resource Group<br/>
		Carl R. Woese Institute for Genomic Biology<br/>
		help@igb.illinois.edu
	</body>
</html>